opencv-python
# Core ML stack
tensorflow==2.11.0
keras==2.11.0
numpy==1.23.5
protobuf==3.20.3
mediapipe==0.10.0

# For preprocessing and visualization
opencv-python==4.7.0.72
scikit-learn==1.3.0

# Optional but useful
matplotlib==3.7.1

